<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% comment "Optional note" %}
        lo siguiente es un bloque cambiante para el titulo de la pestaña
        {% endcomment %}
        {% block title %} {% endblock %}

    </title>
</head>
<body>
    <h1 style="background-color: grey; color:white; text-align: center;">Fultbolistats</h1>
    {% include "superior/barra.html"%}
    <h3 style="text-align: right;"> estadísticas futbolísticas</h3>

    <!-- lo siguiente es un bloque cambiante para el contenido -->
    {% block content %} 
    
    {% endblock %}

    <p style="background-color: grey; color:white; text-align: right;">Datos para futbolistas</p>

</body>
</html>