{% extends 'base.html' %}

{%block title%}Update Products{%endblock%}

{%block content%}
    <h1>Edit Product</h1>
    <form action="" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ product.name }}"><br>
        <label for="quantity">Description:</label><br>
        <textarea id="quantity" name="quantity">{{ product.quantity }}</textarea><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price" value="{{ product.price }}"><br><br>
        <input type="submit" value="Update Product">
    </form>
{%endblock%}